.swiper-controls {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 19;
  width: auto;
}

.swiper-wrapper {
  margin-bottom: 60px;
}

.stop,
.play {
  position: static;
  cursor: pointer;
  font-size: 16px;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  position: static;
  margin-top: 0;
  width: 8px;
  height: auto;
  color: black;
  --swiper-navigation-size: 20px;
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: black;
}

.swiper-controls .swiper-pagination {
  position: static;
  width: auto;
  display: flex;
  gap: 14px;
}

@media (max-width: 860px) {
  .swiper-controls {
    position: relative;
    left: auto;
    transform: none;
    margin: 40px auto 20px;
    justify-content: center;
    z-index: 20;
    width: 100%;
  }

  .swiper-wrapper {
    margin-bottom: 0px;
  }
}