     .swiper-wrapper {
       padding-bottom: 50px;
     }

     .swiper {
       width: 100%;
       height: 100%;
     }

     .swiper-slide {
       text-align: center;
       font-size: 18px;
       background: #444;
       display: flex;
       justify-content: center;
       align-items: center;
     }

     .swiper-slide img {
       display: block;
       width: 100%;
       height: 100%;
       object-fit: cover;
     }

     .mySwiper .swiper-button-next,
     .mySwiper .swiper-button-prev {
       top: calc(100% - 25px);
       color: black;
       z-index: 15;
       --swiper-navigation-size: 16px;
     }

     .mySwiper .swiper-button-next {
       right: calc(50%);
       transform: translateX(300%);
     }

     .mySwiper .swiper-button-prev {
       left: calc(50%);
       transform: translateX(-300%)
     }

     .swiper-pagination-bullet {
       border: 1px solid black;
       background-color: white;
     }

     .swiper-pagination-bullet-active {
       /* color: #fff;
       background: #007aff; */
       background-color: black;
     }

     .stop {
       background-color: black;
       width: 20px;
       height: 20px;
       position: absolute;
       top: 94%;
       left: 45%;
       cursor: pointer;
       z-index: 19;
     }

     .play {
       background-color: red;
       width: 20px;
       height: 20px;
       position: absolute;
       top: 94%;
       left: 45%;
       cursor: pointer;
       z-index: 19;
     }